<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Dao.boardDao">

<!-- 	자유게시판 게시글 맵퍼 -->
	<insert parameterType="board" id="insertBoard"> 
		insert into board (title, id, content, file) 
		values (#{title}, #{id}, #{content}, #{file});
	</insert>

	<select id="selectBoard" resultType="board">
		select * from board;
	</select>
	
	<select id="selectOneBoard" resultType="board" parameterType="int">
		select * form board where no=#{no};
	</select>

<!-- 	QnA게시판 게시글 맵퍼 -->	
	<insert parameterType="qna" id="insertQna"> 
		insert into qna (title, id, content, file, pw) 
		values (#{title}, #{id}, #{content}, #{file}, #{pw});
	</insert>
	
	<select id="selectQna" resultType="qna">
		select * from qna;
	</select>
	
	<select id="selectOneQna" resultType="qna" parameterType="int">
		select * from qna where no=#{no};
	</select>
	
	</mapper>