<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Dao.boardDao">

<!-- 	자유게시판 게시글 맵퍼 -->
	<insert parameterType="board" id="insertBoard"> 
		insert into board (title, id, content, file) 
		values (#{title}, #{id}, #{content}, #{file});
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where no=#{no};
	</delete>

	<select id="selectBoard" resultType="board">
		select * from board;
	</select>
	
	<select id="selectOneBoard" resultType="board" parameterType="int">
		select * from board where no=#{no};
	</select>

	<insert id="insertBoardComment" parameterType="boardComment">
		insert into boardComment(no, id, content, time, groupNo, childNode, groupOrder, writer)
		values (#{no}, #{id}, #{content}, default, #{groupNo}, #{childNode}, #{groupOrder}, #{writer})
	</insert>
	
	<select id="selectBoardComment" parameterType="java.util.HashMap" resultType="boardComment">
		select * from boardComment where no=#{no} order by groupNo desc, commentNo asc limit ${startComment}, ${skip};
	</select>
	
	<select id="selectBoardLatestcomment" resultType="boardComment">
		select * from boardComment order by commentNo desc limit 1;
	</select>

<!-- 	QnA게시판 게시글 맵퍼 -->	
	<insert parameterType="qna" id="insertQna"> 
		insert into qna (title, id, content, file, pw) 
		values (#{title}, #{id}, #{content}, #{file}, #{pw});
	</insert>
	
	<delete id="deleteQna" parameterType="int">
		delete from qna where no=#{no};
	</delete>
	
	<select id="selectQna" resultType="qna">
		select * from qna;
	</select>
	
	<select id="selectOneQna" resultType="qna" parameterType="int">
		select * from qna where no=#{no};
	</select>
	
	<insert id="insertQnaComment" parameterType="qnaComment">
		insert into qnaComment(no, id, content, time, groupNo, childNode, groupOrder, writer)
		values (#{no}, #{id}, #{content}, default, #{groupNo}, #{childNode}, #{groupOrder}, #{writer})
	</insert>
	
	<select id="selectQnaComment" parameterType="java.util.HashMap" resultType="qnaComment">
		select * from qnaComment where no=#{no} order by groupNo desc, commentNo asc limit ${startComment}, ${skip};
	</select>
	
	<select id="selectQnaLatestcomment" resultType="qnaComment">
		select * from qnaComment order by commentNo desc limit 1;
	</select>
	
	<select id="selectOneById" resultType="int" parameterType="java.util.HashMap">
		select max(no) from ${table} where id=#{id};
	</select>	
	
	<delete id="deleteBoardComment" parameterType="int">
		delete from boardComment where no=#{no};
	</delete>
	<delete id="deleteQnaComment" parameterType="int">
		delete from qnaComment where no=#{no};
	</delete>
	
	</mapper>