<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dao.mainDao">
	<select id="containerOne" resultType="member">
	
	</select>
	
	<select id="containerTwo" resultType="member">
	
	</select>
	
	<select id="containerThree" resultType="art">
	
	</select>
	
	<select id="containerFour" resultType="art">
	
	</select>
	
	<select id="feed" parameterType="String" resultType="member">
	
	</select>
	
	<select id="selectFollowing" parameterType="String" resultType="String">
	
	</select>
	
	<insert id="sendMessage" parameterType="message">
		insert into message values(#{isTo},#{isFrom},#{content},default,#{file});
	</insert>
	
	<select id="messageList" parameterType="String" resultType="message">
		select distinct isFrom from message where isTo=#{isTo} order by time desc;
	</select>
	
	<select id="logMessage" parameterType="message" resultType="message">
		select * from message where (isTo=#{isTo} and isFrom=#{isFrom}) or (isTo=#{isFrom} and isFrom=#{isTo}) order by time;
	</select>
	
	<delete id="deleteMessage" parameterType="message">
		delete from message where (isTo=#{isTo} and isFrom=#{isFrom}) or (isTo=#{isFrom} and isFrom=#{isTo});
	</delete>
	
	<insert id="insertAlarm" parameterType="java.util.HashMap">
	insert into alarm values(#{type}, default, #{to}, #{from}, 0, 0);
	</insert>
	
	<update id="updateAlarm" parameterType="int">
	update alarm set readCheck = 1 where no = #{no}
	</update>
	
	<delete id="deleteAlarm" parameterType="String">
	
	</delete>
	
	<select id="selectAlarm" parameterType="String" resultType="alarm">
	select * from alarm where isTo = #{isTo} and readCheck=0 order by time desc
	</select>
	
	<select id="alarmCount" parameterType="String" resultType="int">
	select count(*) from alarm where isTo = #{isTo} and readCheck=0 
	</select>
	
</mapper>

  